body{
    background-color: #171433;
    color: #E0EBED;
}

#headerContainer{
    background-color: #245382 !important;
}

#pageIcon{
    position: relative;
    left: 9px;
    float: left;
    height: 87px;
}

#pageTitle{ 
    position: relative;
    top: 5px;
    left: -13px;
    font-family: "Bahnschrift", Times, serif;
    font-size: 50px; 

}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 500px;
    background-color: #245382;
    border-radius: 20px;
    padding: 3%;
    font-family:"Bahnschrift", Times, serif;
    box-shadow: -1px 1px 20px 6px black;
}

#loginBtn{
    width: 100%; 
}

