body{
    background-color: #171433;
    color: #E0EBED;
    font-family:"Bahnschrift", Times, serif;
}

#spacer{
    padding-top: 28%;
}

#profileContainer{
    background-color: #245382;
    border-radius: 5px;
    box-shadow: -4px 5px 5px black;
    padding-top: 1%;
}

#repoContainer{
    background-color:#245382;
    height: 900px;
    border-radius: 5px;
    box-shadow: 4px 5px 5px black;
}

#sectionContainer{
    height: 100%;
  
}

#username{
    margin-top: 4%;
}

#userid{
    margin-top: -1%;
    font-size: 20px;

}

.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	border-radius: 3px 0 0 3px;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.btn {
	margin-bottom: 2%;
    width: 65%;
}

#createRepoBtn{
    margin-top: 30%;
}

#signoutBtn{
    margin-bottom: 3%;
}

#btnContainer{
    margin-top: 60%;
}

#tableTitle{
    position: relative;
	left: -7px;
	display: inline-block;
	padding: 6px 12px;
    margin-top: 2%;
    margin-left: 1%;
    font-size: 30px;
}

.bi-folder-fill{
    font-size: 27px;
    margin-left: 2%;
}



.list-group-item{
    background-color: #171433;
    color: #E0EBED;

}
